{% extends 'base.html' %}
{% block registerForm %}

<div class=container>
    <!--HOME PAGE pt 1: image with short intro-->
    <div class="homeP1">
        <div class="row">
            <h1>Making job equity a reality</h1>
            <p>Leveraging AI and machine learning to match black job applications with the right companies.</p>
        </div>
        <div class="row">
            <h4>Start your search.</h4>
            <input type=text>
        </div>
    </div>
    <!--HOME PAGE pt 2: direct to sign up, search and research-->
    <div class="container">
        <h1>Find a job that is right for you</h1>
        <h5>Full-time | Part-time | Internships</h5>
    </div>     
    <div class="homeAside">
        <p>Sign up to use our AI matching technology to be matched with jobs that are perfect for you.</p>
        <input type=text>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <!--HOME PAGE pt 3: -->
    <div class="row">
        <h1>Post your job listings and find the qualified applicants you need</h1>
        <button class="btn btn-primary" type="submit">Post a Job</button>
    </div> 
    <!--HOME PAGE pt 4: download the app-->
    <div class="row">
        <h1>Download the app.</h1>
        <p>Search for jobs</p>
        <p>Anywhere</p>
        <p>Anytime</p>
    </div>
    
    
{% endblock%}